<div class="alert alert-danger">
    <p>@ViewBag.ExpPath</p>
</div>
<div class="alert alert-danger">
    <p>@ViewBag.ExpMessaje</p>
</div>
<div class="alert alert-danger">
    <p>@ViewBag.StackTrace</p>
</div>